@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .head {
        @apply border border-[#2f2f2f] rounded-2xl w-full my-3;
    }
    .shape {
        @apply border border-[#2f2f2f] rounded-2xl w-full my-3 cursor-pointer;
    }
    .shape-inside {
        @apply rounded-2xl w-full;
    }
    .border-gradient {
        @apply rounded-2xl p-[1px] flex justify-center items-center bg-gradient-to-br from-[#4CAFE7] via-[#4755CE] to-[#A33AD8];
    }
    .btn-border-gradient {
        @apply rounded-full p-[1px] flex justify-center items-center bg-gradient-to-br from-[#4CAFE7] via-[#4755CE] to-[#A33AD8];
    }
    .background-animate {
        background-size: 300%;

        -webkit-animation: AnimationName 3s ease infinite;
        -moz-animation: AnimationName 3s ease infinite;
        animation: AnimationName 3s ease infinite;
    }
    @keyframes AnimationName {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
}
